.section {
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;

}

.section__body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

@media (max-width: 767px) {
    .section__body {
        display: grid;
        grid-template-columns: 1fr;
    }
}