
.section__list {
    display: grid;
    list-style-type: none;
    padding-inline-start: 0px;
}

.form__list--bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid rgb(194, 194, 194);
    margin: 10px 20px
}

@media (max-width: 767px) {
    .form__list--bottom {
        text-align: center;
    }
}

.form__list--decoration {
    text-decoration: line-through;

}

.form__list--decorationHidden {
    display: none;
}

.form___buttonDone {
    background-color: rgb(1, 170, 9);
    border: none;
    color: white;
    float: left;
}

.form___buttonDone:hover {
    background-color: rgb(0, 114, 6);
    color: white
}

.form__buttonRemove {

    background-color: rgb(153, 0, 0);
    border: none;
    color: white;
}

.form__buttonRemove:hover {
    background-color: rgb(255, 0, 0);
}
